 /* .container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	margin: 0 10px;
	height: 45px; 
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
} */
/* .container{
	position: absolute;
	padding-left: 10px;
	padding-bottom: 10px;
} */

.page_btn {
	
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 500;
	border-radius: 5px;
	outline: none;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: var(--box-shadow);
	cursor: pointer;
	background-color: white;
}

.active {
	background-color: var(--blue);
	color: white;
} 